<div class="card text-center">

  <div class="card-header">
    <span  class= " glyphicon glyphicon-chevron-left"></span>
    文章类型（栏目)编辑
  </div>
  <div class="card-body">
    <form >
      <label class="flotleft" >标题</label>
      <input  [(ngModel)]="articleType.typename"  name="title"  class="form-control form-control-lg martop"
              type="text" placeholder="标题">

      <label class="flotleft">图片选择</label>
      <label class="flotleft"></label>
     <div class="row">
       <div class="col-4">
         <div class="row" >
           <img [src]="articleType.icon" width="100%" alt="封面图片未选择">
         </div>
         <div class="row">
           <p style="margin-top: 12px;width:100%;font-size: 14px; color: #00b6ed; text-align: center;height: 14px;">
             封面图片预览
           </p>
         </div>
       </div>
       <div class="col-8">
         <div class="input-group mb-3">
           <div class="custom-file">
             <input type="file" class="custom-file-input" (change)="onFileChanged($event)">
             <label class="custom-file-label"  >选择图片</label>
           </div>
           <div class="input-group-append">
             <button class="input-group-text" (click)="onUpload()" >上传</button>
           </div>
         </div>
       </div>
     </div>
    </form>

    <div >
      <button class="btn btn-primary" (click)="save()">提交</button>
      <button class="btn btn-danger" (click)="reset()" >重置</button>
    </div>

  </div>

  <div class="card-footer text-muted">
    admin
  </div>
</div>
