<div class="row">
  <div style="width:100%;" >

    <div class="card" style="width:100%;">
      <!--<img src="../../../../assets/imgs/ionic.jpg" alt="..."  class="img-circle image-responsive" width="100%" height="auto">-->
      <img style="border-radius: 50%;margin:0 auto;" src="http://localhost:8080/pic/1598518596538.jpg" alt="..."  width="200"  height="200">
      <div class="card-body" >
        <h5 class="card-title">个人简介</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a  class="btn btn-primary">cell me</a>
      </div>
    </div>

  </div>

</div>
<h5 style="margin-top:24px;">文章分类</h5>
<hr>
<ul class="list-unstyled" style="margin-top: 24px">
  <li class="media row" *ngFor="let t of typesList" style="margin-top: 18px;">
    <div class="col-4" style="width:100%;overflow: hidden;">
      <img [src]="t.icon"  width="86" class="mr-2" alt="...">
    </div>
   <div style="margin-left:12px;margin-bottom:12px">
     <div class="media-body">
       <h5 class="mt-0 mb-1">{{t.typename}}
         <span class="badge badge-secondary" style="font-size: 12px;margin-left:8px;">
           {{t.totals}}</span></h5>
     </div>
   </div>
    <span style="padding: 8px 0; width:100%;border-bottom:1.1px #fffaa9 dashed"></span>
  </li>


</ul>
