.bodyLeft {
  float:left;
  border:1px solid #ff6486;
  height: auto;
  width:100%;
}

.bodyRight {
  border:1px solid black;
  float:right;
  height:auto;
  width:100%;
}

.service-area{
  padding:20px 0px;
  overflow:hidden;
}
