<div  style=" background-image: url(../../../assets/imgs/bg01.jpg); width:100%;height:800px;color:white;">

  <nav class="navbar navbar-expand-lg navbar-dark" >
    <a class="navbar-brand" style=" font-size:26px;">
      <img src="/docs/4.5/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
      Bootstrap
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item  fontSize16">
          <a class="nav-link fontSize16" >人生 <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link fontSize16"  >理想</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  fontSize16" href="#" tabindex="-1" aria-disabled="true">诗</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  fontSize16" href="#" tabindex="-1" aria-disabled="true">远方</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fontSize16" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            技术文章
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item fontSize16" href="#">Action</a>
            <a class="dropdown-item fontSize16" href="#">Another action</a>
            <div class="dropdown-divider fontSize16"></div>
            <a class="dropdown-item fontSize16" href="#">Something else here</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2 fontSize16" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0 fontSize16" type="submit">Search</button>
      </form>
    </div>
  </nav>

</div>
