<div class="row">
  <div class="col-md-4 col-sm-12">
    <div class="service-wrap" >
      <div class="service-icon">
        <img src="../../../../assets/imgs/servicearea1.jpg" width="100%" height="auto;">
      </div>
      <div class="service-icon service-icon-black" >
      </div>

      <div class="service-content" >
        <h3> 服务内容区1</h3>
        <p>java c c++ python </p>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-12">
    <div class="service-wrap" >
      <div class="service-icon">
        <img src="../../../../assets/imgs/servicearea1.jpg" width="100%" height="auto;">
      </div>
      <div class="service-icon service-icon-black" >
      </div>

      <div class="service-content" >
        <h3> 服务内容区1</h3>
        <p>java c c++ python </p>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-12">
    <div class="service-wrap" >
      <div class="service-icon">
        <img  src="../../../../assets/imgs/servicearea1.jpg"  width="100%" height="auto;">
      </div>
      <div class="service-icon service-icon-black" >
      </div>

      <div class="service-content" >
        <h3> 服务内容区1</h3>
        <p>java c c++ python </p>
      </div>
    </div>
  </div>
</div>



