.myHead{

}

.myBody{
  border:1px solid #ffa90b;
  width:100%;
  height:50px;

  margin:24px auto;
}

.myFooter{
  margin:auto 0px;
  width:100%;
  height:150px;
  background-color: black;
  color: white;
  text-align: center;
}
