<div class="font14" style="font-size: 12px;">
  <div class="card" >
    <div class="card-header">
      <button  class="btn btn-primary" (click)="createResumer()">新增</button>
      <span  style="text-align:center;width:100%;margin-left: 40%;">文章管理</span>
    </div>
    <table  class="table table-striped">
      <tr >
        <td>主键</td>
        <td>是否显示</td>
        <td>内容</td>
        <td>操作</td>
      </tr>


      <tr *ngFor="let r of resumerList">
       <td>{{r.id}}</td>
       <td>{{r.isshow}}</td>
       <td>{{r.contetn}}</td>
        <td>
          <button class="btn btn-warning" (click)="updateResumer(r.id)" >修改</button>
          <button class="btn btn-danger" (click)="deleteResumerById(r.id)">删除</button>
          <button class="btn btn-info" >预览</button>
        </td>
      </tr>
    </table>
  </div>
</div>
