<div class="container">
  <div class="head">
    <br>
    <h4>{{artice.title}}</h4>

    <div  class="top18" style="background-color: rgba(0,182,237,0.13);font-size: 12px;text-align: left" >
     <div>
       <span class="marginLeft12">
           文章类型:  {{artice.typeid}}
       </span>
       <span class="marginLeft12">
         创建时间:  {{artice.createtime}}
       </span>
     </div>

      <div >
        <span class="marginLeft12" *ngIf="artice.isoriginal">原创</span>
        <span class="marginLeft12" *ngIf="!artice.isoriginal">非原创</span>
        <span class="marginLeft12">
           {{artice.isuseful}} 个人觉得有用
        </span>
      </div>
    </div>
  </div>

  <div class="body">
    <hr>
    <div *ngIf="artice.editType" [innerHTML]="artice.content| tohtml"> </div>

    <div id="detailmarkdown">
      <textarea style="display:none;">{{artice.content}}</textarea>
    </div>

  </div>

  <div class="foot">

  </div>
</div>
